html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background:#000 no-repeat 50% 50%;
    background-size: cover;
}
    #loader{
        background: #000 url('../assets/loader.gif') no-repeat center center;
        height: 100vh;
        width: 100%;
        overflow: visible;
        position: fixed;
        z-index: 1;
    } 